page-profile {
    // .has-header{
    //     margin-top: 50px;
    //   }

      .profile-pic-box {
        background-size: cover;
        margin: 0 auto;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }
    
}
