// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Esto era el primer diseño pero ay no :v
// .bodyApp {
// 	background-color: rgb(73, 62, 54);
// }

// .bodyAppItem {
// 	background-color: rgb(73, 62, 54);
// }

// .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
// 	color: #fff;
// }

// .item-md{
// 	color: #fff;
// }


// .ProfileCardLink {
//     margin-top: 10px;
//     margin-left: 10px;

//     border-radius: 50%;
// }

.ProfileCardLink {
    margin-top: 10px;
    margin-left: 10px;
    background-size: cover;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 2px solid #fff;
    float: left;
    margin-right: 10px; 
}

.ProfileCardName {
    padding-top:25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: block;
}